In [1]:
import pandas as pd
import matplotlib.pyplot as mat

In [2]:
df = pd.read_csv("https://github.com/flaviovdf/evcomp2018/raw/master/data/nba_salaries.csv")
df

              PLAYER POSITION                TEAM     SALARY
0       Paul Millsap       PF       Atlanta Hawks  18.671659
1         Al Horford        C       Atlanta Hawks  12.000000
2     Tiago Splitter        C       Atlanta Hawks   9.756250
3        Jeff Teague       PG       Atlanta Hawks   8.000000
4        Kyle Korver       SG       Atlanta Hawks   5.746479
..               ...      ...                 ...        ...
412        Gary Neal       PG  Washington Wizards   2.139000
413     DeJuan Blair        C  Washington Wizards   2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards   1.920240
415   Garrett Temple       SG  Washington Wizards   1.100602
416     Jarell Eddie       SG  Washington Wizards   0.561716

[417 rows x 4 columns]

In [3]:
df.size

1668

In [4]:
df.sort_values(by=['PLAYER'])

              PLAYER POSITION                    TEAM     SALARY
68      Aaron Brooks       PG           Chicago Bulls   2.250000
291     Aaron Gordon       PF           Orlando Magic   4.171680
59    Aaron Harrison       SG       Charlotte Hornets   0.525093
235    Adreian Payne       PF  Minnesota Timberwolves   1.938840
1         Al Horford        C           Atlanta Hawks  12.000000
..               ...      ...                     ...        ...
95   Wilson Chandler       SF          Denver Nuggets  10.449438
233      Zach LaVine       PG  Minnesota Timberwolves   2.148360
181    Zach Randolph       PF       Memphis Grizzlies   9.638555
86     Zaza Pachulia        C        Dallas Mavericks   5.200000
26      Zoran Dragic       SG          Boston Celtics   1.706225

[417 rows x 4 columns]

In [5]:
df.sort_values(by=['SALARY'], ascending=True)

                     PLAYER POSITION                 TEAM     SALARY
267  Thanasis Antetokounmpo       SF      New York Knicks   0.030888
327          Cory Jefferson       PF         Phoenix Suns   0.049709
326            Jordan McRae       SG         Phoenix Suns   0.049709
324         Orlando Johnson       SG         Phoenix Suns   0.055722
325            Phil Pressey       PG         Phoenix Suns   0.055722
..                      ...      ...                  ...        ...
131           Dwight Howard        C      Houston Rockets  22.359364
255         Carmelo Anthony       SF      New York Knicks  22.875000
72             LeBron James       SF  Cleveland Cavaliers  22.970500
29              Joe Johnson       SF        Brooklyn Nets  24.894863
169             Kobe Bryant       SF   Los Angeles Lakers  25.000000

[417 rows x 4 columns]

In [6]:
df.sort_values(by=['SALARY'], ascending=False)

                     PLAYER POSITION                 TEAM     SALARY
169             Kobe Bryant       SF   Los Angeles Lakers  25.000000
29              Joe Johnson       SF        Brooklyn Nets  24.894863
72             LeBron James       SF  Cleveland Cavaliers  22.970500
255         Carmelo Anthony       SF      New York Knicks  22.875000
131           Dwight Howard        C      Houston Rockets  22.359364
..                      ...      ...                  ...        ...
200         Elliot Williams       SG    Memphis Grizzlies   0.055722
324         Orlando Johnson       SG         Phoenix Suns   0.055722
327          Cory Jefferson       PF         Phoenix Suns   0.049709
326            Jordan McRae       SG         Phoenix Suns   0.049709
267  Thanasis Antetokounmpo       SF      New York Knicks   0.030888

[417 rows x 4 columns]

In [7]:
df.head()

           PLAYER POSITION           TEAM     SALARY
0    Paul Millsap       PF  Atlanta Hawks  18.671659
1      Al Horford        C  Atlanta Hawks  12.000000
2  Tiago Splitter        C  Atlanta Hawks   9.756250
3     Jeff Teague       PG  Atlanta Hawks   8.000000
4     Kyle Korver       SG  Atlanta Hawks   5.746479

In [8]:
df.rename(columns = {'Salary':'SALARY'}, inplace = True)
df

              PLAYER POSITION                TEAM     SALARY
0       Paul Millsap       PF       Atlanta Hawks  18.671659
1         Al Horford        C       Atlanta Hawks  12.000000
2     Tiago Splitter        C       Atlanta Hawks   9.756250
3        Jeff Teague       PG       Atlanta Hawks   8.000000
4        Kyle Korver       SG       Atlanta Hawks   5.746479
..               ...      ...                 ...        ...
412        Gary Neal       PG  Washington Wizards   2.139000
413     DeJuan Blair        C  Washington Wizards   2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards   1.920240
415   Garrett Temple       SG  Washington Wizards   1.100602
416     Jarell Eddie       SG  Washington Wizards   0.561716

[417 rows x 4 columns]

In [ ]:
df.iloc[[3,10,22], :]

            PLAYER POSITION            TEAM   SALARY
3      Jeff Teague       PG   Atlanta Hawks  8.00000
10  Walter Tavares        C   Atlanta Hawks  1.00000
22    Kelly Olynyk        C  Boston Celtics  2.16516